*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height:100vh;
    background:rgb(0, 0, 0);
}
.box{
    width: 500px;
    height: 400px;
    margin: 100px auto;
    /* border: 2px solid black; */
    position: relative;
    &:hover{
        >div{
            &:nth-of-type(1){
                transform: rotate(-8deg);
            }
            &:nth-of-type(2){
                transform: translateX(90%);
                >div{
                    transform: rotate(90deg);
                }
            }
        }
    }
    >*{
        position: absolute;
        transition: 2s;
        &:nth-of-type(1){
            width: 500px;
            height: 400px;
            background-image: url(img/گوگوش-1.jpg);
            background-size: cover;
            top: 0;left: 0;
            z-index: 12000;
            box-shadow: 0 20px 30px rgb(47, 46, 46), -20px -20px 30px rgb(47, 46, 46);
        }
        &:nth-of-type(2){
            width: 400px;
            height: 400px;
            left: 0;
            bottom: 0;
            >div{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-image: repeating-radial-gradient(rgb(34, 33, 33) 2%, rgb(56, 53, 53)4%);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 5s;
                box-shadow: 0 0 20px 10px rgb(81, 79, 79);
                >figure{
                width: 160px;
                height: 160px;
                >img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            }
        }
    }
}
.footer{
    width: 100%;
    min-height: 50vh;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    >div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        >.pic{
            width: 320px;
            height: 320px;
            background-color: rgb(0, 0, 0);
            border-radius: 64% 36% 47% 53% / 32% 22% 78% 68% ;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .5s;
            &:hover{
                transform: scale(1.1);
            }
            >figure{
                width: 300px;
                height: 300px;
                >img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
                }
            }
        }
        >.links{
            /* border: 1px solid red; */
            width: 100px;
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 7px;
            >a{
                text-decoration: none;
                font-size: 40px;
                color: black;
                transition: .3s;
                &:hover{
                    color: gray;
                    font-size: 50px;
                }
            }
        }
        >.text{
            /* border: 1px solid blue; */
            color: black;
            font-size: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
        }
    }
}